<h1 class="ui header">Home</h1>
<div class="ui segment">
    <h3 class="ui dividing header">Your Data:</h3>
    <div class="ui stackable two column grid">
        <div class="column">
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
        <div class="column">
            <h3 class="ui dividing header">Suggestions:</h3>
            <div class="">You need more: <i>Fun</i></div>
            <div class="ui middle aligned bulleted animated list">
                <div class="item">
                    <div class="content">
                        <div class="">Swimming</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="">Hiking</div>
                    </div>
                </div>
                <div class="item">
                    <div class="content">
                        <div class="">Surfing</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui segment">
    <div class="ui grid stackable">
        <div class="thirteen wide column">
            <h2>Today's Schedule:</h2>
        </div>
        <div class="right floated left aligned three wide column">
            <button class="ui primary button add_event_button"><i class="icon add"></i>Add Event</button>
        </div>
    </div>
    <div class="ui divider"></div>
    <div class="ui cards schedule_cards">
        {{#each events}}
        <div class="raised blue card" id="{{id}}">
            <div class="content">
                <div class="header">{{name}}</div>
                <div class="meta">
                    <span class="right floated time">{{category}}</span> {{#if hasEndTime}}
                    <span class="time">{{startTime}}-{{endTime}}</span> {{else}}
                    <span class="time">{{startTime}}</span> {{/if}}
                </div>
                <div class="description">{{details}}</div>
            </div>
            <div class="extra content">
                <div class="ui two buttons">
                    <div class="ui basic green button edit_event_button">Edit</div>
                    <div class="ui basic red button delete_event_button">Delete</div>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
    <div class="ui small modal" id="delete_modal">
        <div class="header">
            Deleting Event
        </div>
        <div class="content">
            <p>Are you sure?</p>
        </div>
        <div class="actions">
            <div class="ui basic negative button">
                <i class="remove icon"></i> No
            </div>
            <div class="ui basic positive icon button" id="delete_modal_yes">
                <i class="checkmark icon"></i> Yes
            </div>
        </div>
    </div>
    <div class="ui small modal" id="edit_modal">
        <div class="header">Editing Event</div>
        <div class="content">
            <form class="ui form" id="edit_modal_form" method="post" action="/editEvent">
                <div class="field">
                    <label>Name:</label>
                    <input type="text" name="name" placeholder="Enter new name">
                </div>
                <div class="ui grid">
                    <div class="five wide column">
                        <div class="field">
                            <label>Start time:</label>
                            <input type="text" name="startTime" placeholder="Enter new start tim
e">
                        </div>
                    </div>
                    <div class="five wide column">
                        <div class="field">
                            <label>End time:</label>
                            <input type="text" name="endTime" placeholder="Enter new end time">
                        </div>
                    </div>
                    <div class="five wide column">
                        <div class="field">
                            <label>Date:</label>
                            <select class="ui fluid search selection dropdown" name="date">
                                <option value="">Choose a date</option>
                                <option value="0">1</option>
                                <option value="1">2</option>
                                <option value="2">3</option>
                                <option value="0">4</option>
                                <option value="1">5</option>
                                <option value="2">6</option>
                                <option value="0">7</option>
                                <option value="1">8</option>
                                <option value="2">9</option>
                                <option value="2">10</option>
                                <option value="0">11</option>
                                <option value="1">12</option>
                                <option value="2">13</option>
                                <option value="0">14</option>
                                <option value="1">15</option>
                                <option value="2">16</option>
                                <option value="0">17</option>
                                <option value="1">18</option>
                                <option value="2">19</option>
                                <option value="0">20</option>
                                <option value="1">21</option>
                                <option value="2">22</option>
                                <option value="0">23</option>
                                <option value="1">24</option>
                                <option value="2">25</option>
                                <option value="0">26</option>
                                <option value="1">27</option>
                                <option value="2">28</option>
                                <option value="2">29</option>
                                <option value="2">30</option>
                                <option value="2">31</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Details:</label>
                    <input type="text" name="details" placeholder="Enter new details">
                </div>
                <div class="field">
                    <label>Category:</label>
                    <select class="ui fluid search selection dropdown" name="category">
                        <option value="">Choose a category</option>
                        <option value="Work">Work</option>
                        <option value="Fun">Fun</option>
                        <option value="Sleep">Sleep</option>
                    </select>
                </div>
                <!-- <div class="field">
                    <input type="hidden" name="id" value="">
                </div> -->
            </form>
        </div>
        <div class="actions">
            <div class="ui basic negative icon button">
                <i class="remove icon"></i> Cancel
            </div>
            <div class="ui basic positive icon button" id="edit_modal_save" form="edit_modal_form">
                <i class="checkmark icon"></i> Save
            </div>
        </div>
    </div>
    <div class="ui small modal" id="add_modal">
        <div class="header">Adding Event</div>
        <div class="content">
            <form class="ui form" id="add_modal_form" method="post" action="/addEvent">
                <div class="field">
                    <label>Name:</label>
                    <input type="text" name="name" placeholder="Enter name">
                </div>
                <div class="ui grid">
                    <div class="five wide column">
                        <div class="field">
                            <label>Start time:</label>
                            <input type="text" name="startTime" placeholder="Enter start tim
e">
                        </div>
                    </div>
                    <div class="five wide column">
                        <div class="field">
                            <label>End time:</label>
                            <input type="text" name="endTime" placeholder="Enter end time">
                        </div>
                    </div>
                    <div class="five wide column">
                        <div class="field">
                            <label>Date:</label>
                            <select class="ui fluid search selection dropdown" name="date">
                                <option value="">Choose a date</option>
                                <option value="0">1</option>
                                <option value="1">2</option>
                                <option value="2">3</option>
                                <option value="0">4</option>
                                <option value="1">5</option>
                                <option value="2">6</option>
                                <option value="0">7</option>
                                <option value="1">8</option>
                                <option value="2">9</option>
                                <option value="2">10</option>
                                <option value="0">11</option>
                                <option value="1">12</option>
                                <option value="2">13</option>
                                <option value="0">14</option>
                                <option value="1">15</option>
                                <option value="2">16</option>
                                <option value="0">17</option>
                                <option value="1">18</option>
                                <option value="2">19</option>
                                <option value="0">20</option>
                                <option value="1">21</option>
                                <option value="2">22</option>
                                <option value="0">23</option>
                                <option value="1">24</option>
                                <option value="2">25</option>
                                <option value="0">26</option>
                                <option value="1">27</option>
                                <option value="2">28</option>
                                <option value="2">29</option>
                                <option value="2">30</option>
                                <option value="2">31</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="field">
                    <label>Details:</label>
                    <input type="text" name="details" placeholder="Enter details">
                </div>
                <div class="field">
                    <label>Category:</label>
                    <select class="ui fluid search selection dropdown" name="category">
                        <option value="">Choose a category</option>
                        <option value="Work">Work</option>
                        <option value="Fun">Fun</option>
                        <option value="Sleep">Sleep</option>
                    </select>
                </div>
            </form>
        </div>
        <div class="actions">
            <div class="ui basic negative icon button">
                <i class="remove icon"></i> Cancel
            </div>
            <button class="ui basic positive icon button" id="add_modal_add" form="add_modal_form">
                <i class="add icon"></i> Add
            </button>
        </div>
    </div>
</div>
<script src="/js/home.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.3.0/Chart.min.js"></script>
