<h1 class="ui header">Mood Diary</h1>
<div class="ui raised segment">
    <div class="ui top attached tabular menu">
        <a class="active item" data-tab="first">Day</a>
        <a class="item" data-tab="second">Week</a>
        <a class="item" data-tab="third">Month</a>
    </div>
    <div class="ui bottom attached active tab segment" data-tab="first">
        <div class="ui horizontal divider" id="day">
            <h2 class="ui header">Today's Mood</h2>
        </div>
        <div class="ui stackable center aligned grid day_grid">
            <div class="column centered row mood_entry" id="today_row">
                <div class="ui centered card">
                    <div class="image">
                        <img src="http://emojione.com/wp-content/uploads/assets/emojis/1f604.svg">
                    </div>
                    <div class="content middle aligned">
                        <h3 class="ui header">Happy</h3>
                        <div class="description">"Spent the day at the beach!"</div>
                    </div>
                    <div class="extra content">
                        <button class="ui fluid positive basic button edit_mood_entry_button">
                            <i class="write icon"></i>
                                Edit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
        <div class="ui horizontal divider" id="week">
            <h2 class="ui header">Week's Mood</h2>
        </div>
        <div class="ui stackable seven column center aligned grid week_grid">
            {{#each days}}
            <div class="column mood_entry" id="{{id}}">
                <h3 class="ui dividing header">{{name}}</h3>
                <div class="ui fluid card">
                    <div class="image">
                        <img src="{{img}}">
                    </div>
                    <div class="content middle aligned">
                        <h3 class="ui header">{{mood}}</h3>
                        <div class="description">{{description}}</div>
                    </div>
                    <div class="extra content">
                        <button class="ui fluid positive basic button edit_mood_entry_button">
                            <i class="write icon"></i>
                                Edit
                        </button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="third">
        <div class="ui horizontal divider" id="month">
            <h2 class="ui header">Month's Mood</h2>
        </div>
        <div class="ui stackable seven column center aligned grid week_grid">
            {{#each days}}
            <div class="column mood_entry" id="{{id}}">
                <h3 class="ui dividing header">{{name}}</h3>
                <div class="ui fluid card">
                    <div class="image">
                        <img src="{{img}}">
                    </div>
                    <div class="content middle aligned">
                        <h3 class="ui header">{{mood}}</h3>
                        <div class="description">{{description}}</div>
                    </div>
                    <div class="extra content">
                        <button class="ui fluid positive basic button edit_mood_entry_button">
                            <i class="write icon"></i>
                                Edit
                        </button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="ui stackable seven column center aligned grid week_grid">
            {{#each days}}
            <div class="column mood_entry" id="{{id}}">
                <h3 class="ui dividing header">{{name}}</h3>
                <div class="ui fluid card">
                    <div class="image">
                        <img src="{{img}}">
                    </div>
                    <div class="content middle aligned">
                        <h3 class="ui header">{{mood}}</h3>
                        <div class="description">{{description}}</div>
                    </div>
                    <div class="extra content">
                        <button class="ui fluid positive basic button edit_mood_entry_button">
                            <i class="write icon"></i>
                                Edit
                        </button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="ui stackable seven column center aligned grid week_grid">
            {{#each days}}
            <div class="column mood_entry" id="{{id}}">
                <h3 class="ui dividing header">{{name}}</h3>
                <div class="ui fluid card">
                    <div class="image">
                        <img src="{{img}}">
                    </div>
                    <div class="content middle aligned">
                        <h3 class="ui header">{{mood}}</h3>
                        <div class="description">{{description}}</div>
                    </div>
                    <div class="extra content">
                        <button class="ui fluid positive basic button edit_mood_entry_button">
                            <i class="write icon"></i>
                                Edit
                        </button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="ui stackable seven column center aligned grid week_grid">
            {{#each days}}
            <div class="column mood_entry" id="{{id}}">
                <h3 class="ui dividing header">{{name}}</h3>
                <div class="ui fluid card">
                    <div class="image">
                        <img src="{{img}}">
                    </div>
                    <div class="content middle aligned">
                        <h3 class="ui header">{{mood}}</h3>
                        <div class="description">{{description}}</div>
                    </div>
                    <div class="extra content">
                        <button class="ui fluid positive basic button edit_mood_entry_button">
                            <i class="write icon"></i>
                                Edit
                        </button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<div class="ui small modal" id="edit_modal">
    <div class="header">Edit Mood Entry</div>
    <div class="content">
        <form class="ui form" id="edit_modal_form" method="post" action="/editMoodEntry">
            <div class="field">
                <input type="hidden" id="edit_modal_form_hiddenID" name="id" value="" />
            </div>
            <div class="field">
                <label>Description:</label>
                <textarea rows="2" name="description" placeholder="Enter a description"></textarea>
            </div>
            <div class="field">
                <label>Mood:</label>
                <select class="ui fluid search selection dropdown" name="mood">
                    <option value="">Choose a mood</option>
                    <option value="Happy">Happy</option>
                    <option value="Sad">Sad</option>
                    <option value="Tired">Tired</option>
                </select>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui basic negative icon button">
            <i class="remove icon"></i> Cancel
        </div>
        <button class="ui basic positive icon button" id="edit_modal_save" form="edit_modal_form">
            <i class="checkmark icon"></i> Save
        </button>
    </div>
</div>
<script src="/js/mood_diary.js"></script>