<h1 class="ui header">Mood Diary</h1>
<div class="ui raised segment">
    <div class="ui grid stackable">
        <div class="eleven wide column">
            <div class="ui top attached tabular menu">
                <a class="active item" data-tab="first">Day</a>
                <a class="item" data-tab="second">Week</a>
                <a class="item" data-tab="third">Month</a>
            </div>
        </div>
        <div class="right floated right aligned one wide column">
            <div class="ui icon button" id="help_mooddiary_button">
                <i class="help icon"></i>
            </div>
        </div>
    </div>

    <div class="ui bottom attached active tab segment" data-tab="first">
        <div class="ui horizontal divider" id="day">
            <h2 class="ui header">Today's Mood</h2>
        </div>
        <div class="ui stackable center aligned grid day_grid">
            <div class="column centered row mood_entry" id="today_row">
                <div class="ui centered card">
                    <div class="image">
                        <img class="ui image" src="http://emojione.com/wp-content/uploads/assets/emojis/1f604.svg">
                    </div>
                    <div class="content middle aligned">
                        <h3 class="ui header">Happy</h3>
                        <div class="description">"Spent the day at the beach!"</div>
                    </div>
                    <div class="extra content">
                        <button class="ui fluid positive basic button edit_mood_entry_button">
                            <i class="write icon"></i>
                                Edit
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="second">
        <div class="ui horizontal divider" id="week">
            <h2 class="ui header">Week's Mood</h2>
        </div>
        <div class="ui stackable seven column center aligned grid week_grid">
            {{#each days}}
            <div class="column mood_entry" id="{{id}}">
                <h3 class="ui dividing header">{{name}}</h3>
                <div class="ui card mood_entry_card">
                    <div class="image">
                        <img class="ui image" src="{{img}}">
                    </div>
                    <div class="content middle aligned">
                        <h3 class="ui header">{{mood}}</h3>
                        <div class="description">{{description}}</div>
                    </div>
                    <div class="extra content">
                        <button class="ui fluid positive basic button edit_mood_entry_button">
                            <i class="write icon"></i>
                                Edit
                        </button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
    <div class="ui bottom attached tab segment" data-tab="third">
        <div class="ui horizontal divider" id="month">
            <h2 class="ui header">Month's Mood</h2>
        </div>
        <div class="ui stackable seven column center aligned grid week_grid">
            {{#each days}}
            <div class="column mood_entry" id="{{id}}">
                <h3 class="ui dividing header">{{name}}</h3>
                <div class="ui card mood_entry_card">
                    <div class="image">
                        <img class="ui image" src="{{img}}">
                    </div>
                    <div class="content middle aligned">
                        <h3 class="ui header">{{mood}}</h3>
                        <div class="description">{{description}}</div>
                    </div>
                    <div class="extra content">
                        <button class="ui fluid positive basic button edit_mood_entry_button">
                            <i class="write icon"></i>
                                Edit
                        </button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="ui stackable seven column center aligned grid week_grid">
            {{#each days}}
            <div class="column mood_entry" id="{{id}}">
                <h3 class="ui dividing header">{{name}}</h3>
                <div class="ui card mood_entry_card">
                    <div class="image">
                        <img class="ui image" src="{{img}}">
                    </div>
                    <div class="content middle aligned">
                        <h3 class="ui header">{{mood}}</h3>
                        <div class="description">{{description}}</div>
                    </div>
                    <div class="extra content">
                        <button class="ui fluid positive basic button edit_mood_entry_button">
                            <i class="write icon"></i>
                                Edit
                        </button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="ui stackable seven column center aligned grid week_grid">
            {{#each days}}
            <div class="column mood_entry" id="{{id}}">
                <h3 class="ui dividing header">{{name}}</h3>
                <div class="ui mood_entry_card card">
                    <div class="image">
                        <img class="ui image" src="{{img}}">
                    </div>
                    <div class="content middle aligned">
                        <h3 class="ui header">{{mood}}</h3>
                        <div class="description">{{description}}</div>
                    </div>
                    <div class="extra content">
                        <button class="ui fluid positive basic button edit_mood_entry_button">
                            <i class="write icon"></i>
                                Edit
                        </button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
        <div class="ui stackable seven column center aligned grid week_grid">
            {{#each days}}
            <div class="column mood_entry" id="{{id}}">
                <h3 class="ui dividing header">{{name}}</h3>
                <div class="ui card mood_entry_card">
                    <div class="image">
                        <img class="ui image" src="{{img}}">
                    </div>
                    <div class="content middle aligned">
                        <h3 class="ui header">{{mood}}</h3>
                        <div class="description">{{description}}</div>
                    </div>
                    <div class="extra content">
                        <button class="ui fluid positive basic button edit_mood_entry_button">
                            <i class="write icon"></i>
                                Edit
                        </button>
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
<div class="ui small modal" id="edit_modal">
    <div class="header">Edit Mood Entry</div>
    <div class="content">
        <form class="ui form" id="edit_modal_form" method="post" action="/editMoodEntry">
            <div class="field">
                <input type="hidden" id="edit_modal_form_hiddenID" name="id" value="" />
            </div>
            <div class="field">
                <label>Description:</label>
                <textarea rows="2" name="description" placeholder="Enter a description"></textarea>
            </div>
            <div class="ui grid">
                <div class="eight wide column">
                    <div class="field">
                        <label>Mood:</label>
                        <select class="ui fluid search selection dropdown" name="mood">
                    <option value="">Choose a mood</option>
                    {{#each moodCategories}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
                    </div>
                </div>
                <div class="eight wide column">
                    <div class="field">
                        <label>Or enter a new mood:</label>
                        <input type="text" name="newMood" placeholder="Enter mood">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui basic negative icon button">
            <i class="remove icon"></i> Cancel
        </div>
        <button class="ui basic positive icon button" id="edit_modal_save" form="edit_modal_form">
            <i class="checkmark icon"></i> Save
        </button>
    </div>
</div>


<div class="ui small modal" id="mooddiary_help_modal">
    <div class="header">
        Help
    </div>
    <div class="content">
        <h2>What is the "Mood Diary"?</h2>
        <p>The "Mood Diary" is exactly what the name suggests it is. It is a way for you to take note of how you felt on a specific
            day. For example, if one's overall mood was happy for the current day, they would add an entry into their "Mood
            Diary" with that feeling. The intention for the "Mood Diary" is to allow you to gage how you have been feeling
            and correlate it with a LifeBalance. This will allow you to understand what unique balance is right for you and
            will give you the most satisfaction.</p>
        <h2>What can you do here?</h2>
        <p>Here you can:</p>
        <ul class="helplist">
            <li class="listelm">Add an entry by editing the mood entry of the current day through the button with the little pencil</li>
            <li class="listelm">Change a previous entry if you feel like you you have a more accurate feeling for that day by clicking the button
                with the little pencil</li>
            <li class="listelm">View your "Mood Diary" entry for the day by selecting the day tab, or more entries by selecting the week or month
                view through their respectful tabs</li>
            <li class="listelm">Have a self evaluation by looking at how you've been feeling over the week or month</li>
        </ul>
    </div>
    <div class="actions">
        <div class="ui basic positive icon button" id="mooddiary_help_modal_close">
            <i class="checkmark icon"></i> Got it!
        </div>
    </div>
</div>


<script src="/js/mood_diary.js"></script>